/******
	Add you style rules below in this file 
	
	Requirements:
	The main container should be 500px wide and centered.
	
	Colors:
	dark orange color: #DB4006
	light orange color: #ec9371

******/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-family: 'Helvetica', sans-serif;
}

.container {
	width: 500px;
	margin: 1rem auto;
}

.item {
	border: 1px solid black;
	border-radius: 5px;
	margin: 1rem 0;
	position: relative;
}

.title {
	background-color: #DB4006;
	color: #fff;
	margin-top: 0;
	padding: .5rem 0 .5rem 1.5rem;
	font-size: 18px;
}

.description {
	background-color: #ec9371;
	font-size: 1.5rem;
	padding: 1rem 0 1rem 1.5rem;
	display: block;
}

.close {
	position: absolute;
	top: .4rem;
	right: .7rem;
	font-size: 1.7rem;
	cursor: pointer;
}

.add {
	padding: .25rem .7rem;
}

.hide {
	/* display: none; */
}